services:
  postgres:
    image: postgres
    container_name: postgres_container
    restart: always
    volumes:
      - time_tracker_db:/var/lib/postgresql
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin_container
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    ports:
      - "5050:80"
    depends_on:
      - postgres
  api:
    build: .
    container_name: api_container
    restart: always
    ports:
      - '8000:8000'
    depends_on:
      - postgres
    volumes:
      - .:/app
    env_file: .env

volumes:
  time_tracker_db:
