---
openapi: 3.1.0
info:
  title: WorkTime API
  description: API for managing employees and work sessions
  version: 1.0.0
paths:
  "/users/register":
    post:
      tags:
        - users
      summary: Create a new user
      description: Create a new user.
      operationId: create_user_users_register_post
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UserCreateSchema"
        required: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
  "/users/login":
    post:
      tags:
        - users
      summary: Login a user
      description: Login a user.
      operationId: login_user_users_login_post
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UserLoginSchema"
        required: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
  "/users/token-refresh":
    post:
      tags:
        - users
      summary: Token Refresh
      description: |-
        Return Updated JWT tokens in cookies.

        Requires refresh token cookie.
      operationId: token_refresh_users_token_refresh_post
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
        - JWT Refresh Cookie: []
  "/users/me":
    get:
      tags:
        - users
      summary: Get current user's info
      description: Get current user's info.
      operationId: get_current_user_users_me_get
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UserCurrentSchema"
      security:
        - JWT Access Cookie: []
    delete:
      tags:
        - users
      summary: Deactivate a user's profile
      description: Deactivate a user's profile.
      operationId: deactivate_user_users_me_delete
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
        - JWT Access Cookie: []
  "/employees":
    get:
      tags:
        - employees
      summary: Get all employees for current user
      description: Get all employees for current user.
      operationId: get_all_employees_employees_get
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  "$ref": "#/components/schemas/EmployeeWithStatsReturnSchema"
                type: array
                title: Response Get All Employees Employees Get
      security:
        - JWT Access Cookie: []
    post:
      tags:
        - employees
      summary: Create a new employee
      description: Create a new employee.
      operationId: create_employee_employees_post
      requestBody:
        content:
          multipart/form-data:
            schema:
              "$ref": "#/components/schemas/Body_create_employee_employees_post"
        required: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
        - JWT Access Cookie: []
  "/employees/{employee_id}":
    get:
      tags:
        - employees
      summary: Get a specific employee
      description: Get detailed info and work summary for an employee
      operationId: get_employee_detail_employees__employee_id__get
      parameters:
        - name: employee_id
          in: path
          required: true
          schema:
            type: integer
            title: Employee Id
        - name: week
          in: query
          required: false
          schema:
            anyOf:
              - type: string
                format: date
              - type: "null"
            title: Week
        - name: month
          in: query
          required: false
          schema:
            anyOf:
              - type: string
                format: date
              - type: "null"
            title: Month
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/EmployeeWorkDetailSchema"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
      security:
        - JWT Access Cookie: []
  "/employees/work/start":
    post:
      tags:
        - employees
      summary: Start a new work session
      description: Start a new work session.
      operationId: start_work_employees_work_start_post
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
        - Employer Header Token: []
  "/employees/work/end":
    post:
      tags:
        - employees
      summary: End a new work session
      description: End a new work session.
      operationId: end_work_employees_work_end_post
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
        - Employer Header Token: []
  "/employees/workplaces":
    post:
      tags:
        - employees
      summary: Add Workplace
      description: Add a new workplace.
      operationId: add_workplace_employees_workplaces_post
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/WorkplaceCreateSchema"
        required: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HTTPValidationError"
components:
  schemas:
    Body_create_employee_employees_post:
      properties:
        file:
          type: string
          format: binary
          title: File
        data:
          type: string
          title: Data
      type: object
      required:
        - file
        - data
      title: Body_create_employee_employees_post
    EmployeeReturnDetailSchema:
      properties:
        id:
          type: integer
          title: Id
        first_name:
          type: string
          title: First Name
        last_name:
          type: string
          title: Last Name
        position:
          type: string
          title: Position
        profile_photo:
          anyOf:
            - type: string
            - type: "null"
          title: Profile Photo
        email:
          type: string
          format: email
          title: Email
        phone_number:
          type: string
          title: Phone Number
        created_at:
          type: string
          format: date-time
          title: Created At
        workplace:
          "$ref": "#/components/schemas/WorkPlaceReturnSchema"
        personal_token:
          type: string
          title: Personal Token
      type: object
      required:
        - id
        - first_name
        - last_name
        - position
        - profile_photo
        - email
        - phone_number
        - created_at
        - workplace
        - personal_token
      title: EmployeeReturnDetailSchema
      description: Schema using when returning employee detail information
    EmployeeWithStatsReturnSchema:
      properties:
        id:
          type: integer
          title: Id
        first_name:
          type: string
          title: First Name
        last_name:
          type: string
          title: Last Name
        position:
          type: string
          title: Position
        profile_photo:
          anyOf:
            - type: string
            - type: "null"
          title: Profile Photo
        email:
          type: string
          format: email
          title: Email
        phone_number:
          type: string
          title: Phone Number
        created_at:
          type: string
          format: date-time
          title: Created At
        workplace:
          "$ref": "#/components/schemas/WorkPlaceReturnSchema"
        work_stats:
          "$ref": "#/components/schemas/WorkTimeStatusSchema"
      type: object
      required:
        - id
        - first_name
        - last_name
        - position
        - profile_photo
        - email
        - phone_number
        - created_at
        - workplace
        - work_stats
      title: EmployeeWithStatsReturnSchema
      description: Schema using when returning employee information with work time
    EmployeeWorkDetailSchema:
      properties:
        employee:
          "$ref": "#/components/schemas/EmployeeReturnDetailSchema"
        period:
          type: string
          title: Period
        work_summary:
          items:
            "$ref": "#/components/schemas/WorkSummarySchema"
          type: array
          title: Work Summary
        total_hours:
          type: number
          title: Total Hours
      type: object
      required:
        - employee
        - period
        - work_summary
        - total_hours
      title: EmployeeWorkDetailSchema
      description: Schema using when returning employee work detail information
    HTTPValidationError:
      properties:
        detail:
          items:
            "$ref": "#/components/schemas/ValidationError"
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    UserCreateSchema:
      properties:
        first_name:
          type: string
          title: First Name
        last_name:
          type: string
          title: Last Name
        email:
          type: string
          format: email
          title: Email
        password1:
          type: string
          minLength: 8
          title: Password1
        password2:
          type: string
          minLength: 8
          title: Password2
      type: object
      required:
        - first_name
        - last_name
        - email
        - password1
        - password2
      title: UserCreateSchema
      description: Schema used when creating a new user.
    UserCurrentSchema:
      properties:
        id:
          type: integer
          title: Id
        first_name:
          type: string
          title: First Name
        last_name:
          type: string
          title: Last Name
        email:
          type: string
          format: email
          title: Email
        created_at:
          type: string
          format: date-time
          title: Created At
      type: object
      required:
        - id
        - first_name
        - last_name
        - email
        - created_at
      title: UserCurrentSchema
      description: Schema used for current user return.
    UserLoginSchema:
      properties:
        email:
          type: string
          format: email
          title: Email
        password:
          type: string
          maxLength: 70
          minLength: 8
          title: Password
      type: object
      required:
        - email
        - password
      title: UserLoginSchema
      description: Schema used when user trying to log-in
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
              - type: string
              - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
        - loc
        - msg
        - type
      title: ValidationError
    WorkPlaceReturnSchema:
      properties:
        id:
          type: integer
          title: Id
        title:
          type: string
          title: Title
        address:
          type: string
          title: Address
      type: object
      required:
        - id
        - title
        - address
      title: WorkPlaceReturnSchema
      description: Schema using when returning work place
    WorkSummarySchema:
      properties:
        date:
          type: string
          format: date
          title: Date
        work_time:
          anyOf:
            - type: string
              format: time
            - type: "null"
          title: Work Time
      type: object
      required:
        - date
        - work_time
      title: WorkSummarySchema
      description: |-
        Повертає статистику за день.
        hours - це об'єкт time (наприклад 08:45:00) або None.
    WorkTimeStatusSchema:
      properties:
        today:
          anyOf:
            - type: string
              format: duration
            - type: "null"
          title: Today
        week:
          anyOf:
            - type: string
              format: duration
            - type: "null"
          title: Week
        month:
          anyOf:
            - type: string
              format: duration
            - type: "null"
          title: Month
      type: object
      required:
        - today
        - week
        - month
      title: WorkTimeStatusSchema
      description: Schema using when returning work time status
    WorkplaceCreateSchema:
      properties:
        title:
          type: string
          title: Title
        address:
          type: string
          title: Address
      type: object
      required:
        - title
        - address
      title: WorkplaceCreateSchema
      description: Schema using when creating work place
  securitySchemes:
    JWT Access Cookie:
      type: apiKey
      in: cookie
      name: access_token
      description: Access token stored in HttpOnly cookie
    JWT Refresh Cookie:
      type: apiKey
      in: cookie
      name: refresh_token
      description: Refresh token stored in HttpOnly cookie
    Employer Header Token:
      type: apiKey
      in: header
      name: Authorization
      description: "Employer token. Format: `token <PERSONAL_TOKEN>`"
