openapi: 3.1.0
info:
  title: FastAPI
  version: 0.1.0
paths:
  /users/register:
    post:
      tags:
      - users
      summary: Create a new user
      description: Create a new user.
      operationId: create_user_users_register_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCreateSchema'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /users/login:
    post:
      tags:
      - users
      summary: Login a user
      description: Login a user.
      operationId: login_user_users_login_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserLoginSchema'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /users/token-refresh:
    post:
      tags:
      - users
      summary: Token Refresh
      description: 'Return Updated JWT tokens in cookies.


        Requires refresh token cookie.'
      operationId: token_refresh_users_token_refresh_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - JWT Refresh Cookie: []
  /users/me:
    get:
      tags:
      - users
      summary: Get current user's info
      description: Get current user's info.
      operationId: get_current_user_users_me_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserCurrentSchema'
      security:
      - JWT Access Cookie: []
    delete:
      tags:
      - users
      summary: Deactivate a user's profile
      description: Deactivate a user's profile.
      operationId: deactivate_user_users_me_delete
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - JWT Access Cookie: []
  /employees:
    get:
      tags:
      - employees
      summary: Get all employees for current user
      description: Get all employees for current user.
      operationId: get_all_employees_employees_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/EmployeeReturnSchema'
                type: array
                title: Response Get All Employees Employees Get
      security:
      - JWT Access Cookie: []
    post:
      tags:
      - employees
      summary: Create a new employee
      description: Create a new employee.
      operationId: create_employee_employees_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeCreateSchema'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - JWT Access Cookie: []
  /employees/{employee_id}:
    get:
      tags:
      - employees
      summary: Get a specific employee
      description: Get detailed info and work summary for an employee
      operationId: get_employee_detail_employees__employee_id__get
      parameters:
      - name: employee_id
        in: path
        required: true
        schema:
          type: integer
          title: Employee Id
      - name: month
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          title: Month
      - name: year
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          title: Year
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeWorkDetailSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - JWT Access Cookie: []
  /employees/work/start:
    post:
      tags:
      - employees
      summary: Start a new work session
      description: Start a new work session.
      operationId: start_work_employees_work_start_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - Employer Header Token: []
  /employees/work/end:
    post:
      tags:
      - employees
      summary: End a new work session
      description: End a new work session.
      operationId: end_work_employees_work_end_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - Employer Header Token: []
components:
  schemas:
    EmployeeCreateSchema:
      properties:
        full_name:
          type: string
          title: Full Name
        email:
          type: string
          format: email
          title: Email
        phone_number:
          type: string
          title: Phone Number
        workplace_id:
          type: integer
          title: Workplace Id
      type: object
      required:
      - full_name
      - email
      - phone_number
      - workplace_id
      title: EmployeeCreateSchema
      description: Schema using for employee creation
    EmployeeReturnDetailSchema:
      properties:
        id:
          type: integer
          title: Id
        full_name:
          type: string
          title: Full Name
        email:
          type: string
          format: email
          title: Email
        phone_number:
          type: string
          title: Phone Number
        created_at:
          type: string
          format: date-time
          title: Created At
        workplace:
          $ref: '#/components/schemas/WorkPlaceReturnSchema'
        personal_token:
          type: string
          title: Personal Token
      type: object
      required:
      - id
      - full_name
      - email
      - phone_number
      - created_at
      - workplace
      - personal_token
      title: EmployeeReturnDetailSchema
      description: Schema using when returning employee detail information
    EmployeeReturnSchema:
      properties:
        id:
          type: integer
          title: Id
        full_name:
          type: string
          title: Full Name
        email:
          type: string
          format: email
          title: Email
        phone_number:
          type: string
          title: Phone Number
        created_at:
          type: string
          format: date-time
          title: Created At
        workplace:
          $ref: '#/components/schemas/WorkPlaceReturnSchema'
      type: object
      required:
      - id
      - full_name
      - email
      - phone_number
      - created_at
      - workplace
      title: EmployeeReturnSchema
      description: Schema using when returning employees information
    EmployeeWorkDetailSchema:
      properties:
        employee:
          $ref: '#/components/schemas/EmployeeReturnDetailSchema'
        period:
          type: string
          title: Period
        work_summary:
          items:
            $ref: '#/components/schemas/WorkSummarySchema'
          type: array
          title: Work Summary
        total_hours:
          type: number
          title: Total Hours
      type: object
      required:
      - employee
      - period
      - work_summary
      - total_hours
      title: EmployeeWorkDetailSchema
      description: Schema using when returning employee work detail information
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    UserCreateSchema:
      properties:
        first_name:
          type: string
          title: First Name
        last_name:
          type: string
          title: Last Name
        email:
          type: string
          format: email
          title: Email
        password1:
          type: string
          minLength: 8
          title: Password1
        password2:
          type: string
          minLength: 8
          title: Password2
      type: object
      required:
      - first_name
      - last_name
      - email
      - password1
      - password2
      title: UserCreateSchema
      description: Schema used when creating a new user.
    UserCurrentSchema:
      properties:
        id:
          type: integer
          title: Id
        first_name:
          type: string
          title: First Name
        last_name:
          type: string
          title: Last Name
        email:
          type: string
          format: email
          title: Email
        created_at:
          type: string
          format: date-time
          title: Created At
      type: object
      required:
      - id
      - first_name
      - last_name
      - email
      - created_at
      title: UserCurrentSchema
      description: Schema used for current user return.
    UserLoginSchema:
      properties:
        email:
          type: string
          format: email
          title: Email
        password:
          type: string
          maxLength: 70
          minLength: 8
          title: Password
      type: object
      required:
      - email
      - password
      title: UserLoginSchema
      description: Schema used when user trying to log-in
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    WorkPlaceReturnSchema:
      properties:
        id:
          type: integer
          title: Id
        title:
          type: string
          title: Title
        address:
          type: string
          title: Address
      type: object
      required:
      - id
      - title
      - address
      title: WorkPlaceReturnSchema
      description: Schema using when returning work place
    WorkSummarySchema:
      properties:
        date:
          type: string
          format: date
          title: Date
        hours:
          type: number
          title: Hours
      type: object
      required:
      - date
      - hours
      title: WorkSummarySchema
      description: Schema using when returning work summary
