@import "tailwindcss";

body {
  line-height: 100%;
}

.container-base {
  position: relative;
  left: calc((100vw - 100%) / 2);
  max-width: 1564px;
  width: 100%;
  margin: 0 auto;
  padding: 0 32px;
}

@media (max-width: 1024px) {
  .container-base {
    position: static;
    left: auto;
  }
}
